node_modules
.DS_Store
.env.*
!.env.example
.env.slack
.env
.env.development
dist
public/docs-app/
coverage/
.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
.choir/*
output/
data/
screenshots/
python/venv/
python/*.pdf
python/*.md
python/*.html
